# Run Steel
STEEL_DETECTION_TOOL_PATH = "/path/to/steel/tool/"
INPUT_STEEL_HTML = "/path/to/steel/steel.html"
INPUT_STEEL_JSON = "/path/to/steel/steel.json"
OUTPUT_STEEL_CSV = "/path/to/outputs/steel/steel.csv"
OUTPUT_STEEL_FOLDER = "/path/to/outputs/steel"

# Run SnutsJS
SNUTS_INPUT_CSV = "/path/to/outputs/snutsjs/output_snuts.csv"
SNUTS_OUTPUT_CSV = "/path/to/outputs/snutsjs/snuts.csv"
OUTPUT_SNUTS_FOLDER = "/path/to/outputs/snutsjs"
PROJECTS_FOLDER = "/path/to/projects/"

# Randomly select 10 repos from the refined_repos.csv file
REPO_INPUT_FILE = "/path/to/datasets/refined_repos.csv"
REPO_OUTPUT_FILE = "/path/to/datasets/random_10_repos.csv"

# Generate Data Script
PATH_TO_REPOSITORY = "/path/to/repository"

# Filter_script
GITHUB_TOKEN = "GITHUB_API_TOKEN"